html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #000;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.app__videos {
    position: relative;
    height: 800px;
    width: 450px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__videos {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.video {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
}

.video__player {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video__footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.video__footer-text h3 {
    margin-bottom: 5px;
}

.video__footer-description {
    font-size: 14px;
}

.video__sidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
}

.video__sidebar-button {
    padding: 20px;
    text-align: center;
}

.video__sidebar-button .fa {
    font-size: 30px;
}
